.AnnouncementsCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px 50px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h1 {
      font-size: 32px;
      font-weight: 600px;
    }
  }
  .CardsCont {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    height: 250px;
    .Card {
      border: 1px solid #e6e6e6;
      height: 250px;
      display: flex;
      flex-direction: column;
      .imageCont {
        height: 50%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .infoCont {
        height: 50%;
        padding: 16px;
        p {
          font-size: 16px;
          line-height: 1.25;
          font-weight: 500;
        }
      }
    }
  }
}
