.AdsCont {
  padding: 50px 30px;
  background-color: #e0eeff;
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  .Card {
    height: 235px;
    flex: 1 1 100%;
    background: linear-gradient(0.32turn, #fff 68.5%, #00bfde 69%);
    border: 1px solid #e6e6e6;
    box-shadow: inset 0 -2px 0 0 #e6e6e6;
    position: relative;
    img {
      position: absolute;
      height: 74% !important;
      top: 24px;
      right: 0;
      width: auto;
    }
    .infoCont {
      padding: 30px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      .title{
        font-size: 16px;
        font-weight: 600;
      }
      a{
        font-size: 14px;
      }
    }
  }
}
