.ReviewsCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 30px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h1 {
      font-size: 32px;
      font-weight: 600px;
    }
  }
  .CardsCont {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    height: 350px;
    .Card {
      border: 1px solid #e6e6e6;
      height: 350px;
      display: flex;
      flex-direction: column;
      .imageCont {
        height: 40%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .infoCont {
        height: 60%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-size: 16px;
          line-height: 1.25;
          font-weight: 500;
        }
        .expertInfoCont {
          height: 64px;
          display: flex;
          gap: 2rem;
          p {
          }
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
