.HomePageCont {
  background-color: #fff;

  .headerCont {
    position: relative;

    .infoCont {
      position: absolute;
      left: 0;
      top: 0;
      height: 500px;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 16px;
      h1 {
        display: inline;
        width: fit-content;
        padding: 6px 8px;
        color: white;
        font-weight: 800;
        font-size: 46px;
        background-color: rgba(0, 0, 0, 0.7);
      }
      .description {
        padding: 16px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
    .headerForm {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 50px 30px;
      h2 {
        flex: 1 1 100%;
        margin-bottom: 20px;
      }
      .formInputCont {
        flex: 1 1 33.3%;
      }
    }
  }
}
