.NavbarContainer {
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  height: 55px;
  position: relative;
  nav {
    height: 100%;
    display: inherit;
    width: 100%;
    .logoContainer {
      padding-left: 32px;
      display: flex;
      align-items: center;
      a {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 32px;
        letter-spacing: 0px;
        word-spacing: 2.4px;
        color: #150078;
        font-weight: 700;
        text-decoration: underline solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        cursor: pointer;
      }
    }
    .navCont {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        width: 100%;
        gap: 3rem;
        li {
          list-style: none;
          a {
            font-size: 16px;
            font-weight: 400;
            word-spacing: 0;
            color: black;
          }
        }
      }
    }
    .navbarEndCont {
      display: flex;
      align-items: center;
      padding-right: 32px;
      .loginButton {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        font-weight: 500;
        font-size: 16px;
        word-spacing: 0;
        color: black;
        cursor: pointer;
      }
    }
  }
}
