.FooterContainer {
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  height: 500px;
  position: relative;
  padding: 50px 0;
  footer {
    height: 100%;
    display: inherit;
    width: 100%;
    .footerCont {
      height: 100%;
      display: inherit;
      width: 100%;
      gap: 2rem;
      .footerEl {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h4 {
          font-size: 14px;
          font-weight: 700;
        }
        .specialLinks {
          display: flex;
          width: 100%;
          gap: 2rem;
          .media {
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            svg {
              fill: #fff;
              stroke: none;
            }
          }
          .twitter {
            background-color: #55acee;
          }
          .facebook {
            background-color: #1778f2;
          }
          .instagram {
            background-color: #000;
          }
          .linkedin {
            background-color: #2868b2;
          }
        }
      }
    }
  }
}
