@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "../src/scss/colors";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.global-navbar:after {
  background-image: linear-gradient(-90deg, #00bfde, #532380);
  content: "";
  height: 4px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.global-footer:after {
  background-image: linear-gradient(-90deg, #00bfde, #532380);
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.mainBannerImgCont {
  height: 500px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
